body{
  margin:0;
  background: linear-gradient(135deg,#0b0b12,#1a0033);
  color:white;
  font-family:'Segoe UI',sans-serif;
  text-align:center;
  padding:30px;
}

h1{
  color:#d9b3ff;
}

button{
  width:100%;
  padding:14px;
  margin-top:12px;
  border:none;
  border-radius:30px;
  background:linear-gradient(45deg,#6a00ff,#9d4edd);
  color:white;
  font-weight:bold;
}
