body{
  background:#0b0b12;
  color:white;
  text-align:center;
  font-family:Arial;
  padding:40px;
}

button{
  width:100%;
  padding:15px;
  margin-top:10px;
  background:#9d4edd;
  border:none;
  color:white;
  border-radius:25px;
}
